# Compiled
*.elc

# Packaging
.cask

# Backup files
*~

# Undo-tree save-files
*.~undo-tree

# Elisp configuration file
config.el

#Multiple small files
.historian
bookmarks
elpa/*
places
projectile-bookmarks.eld
recentf
url/*
xkcd/*
/abbrev_defs
/request/curl-cookie-jar
/transient/history.el
/games/tetris-scores
/.org-id-locations
/magithub/cache
/projectile.cache
/elpy/
/games/
